.eleanor-roosevelt {
	color: #950849;
	transform: rotate(-10deg);
	position: fixed;
	bottom: 80%;
	right: 60%;
	width:400px;
}
body {
	line-height: 77%;
	background-image: url(eleanor-photo.jpg);
	background-position-x: 150%;
	background-position-y: top;
	background-repeat: no-repeat;
	background-color: #DAF7A6;
	font-family: "Helvetica Neue";
	color: #D788CE;
}
p {
	position: fixed;
	margin-left: 50%;
	margin-top: 25%;
}
details {
	position: fixed;
	margin-left: 50%;
	margin-top: 25%;
}
.eleanor-roosevelt:hover {
	color: #FFC300;
	transition: color, 5s;
}
a:hover {
	color: #FFC300;
	transition: color, 5s;
}